Repository LunarG/gfxreconstruct, pull requests merged in 2023-03, with the labels that each got.

#1016 Escaped Strings in JSON Header
  framework/decode/vulkan_ascii_consumer_base.cpp
Labels: convert

#970 Registry driver version info
  framework/encode/d3d12_capture_manager.cpp
  framework/graphics/dx12_util.cpp
  framework/graphics/dx12_util.h
  framework/util/driver_info.cpp
  framework/util/driver_info.h
Labels: d3d12

#999 Updated CMake Min Version and Project
  CMakeLists.txt
Labels: enhancement

#973 [Bugfix] DX12 Unknown layout texture save/restore
  framework/decode/dx12_object_info.h
  framework/decode/dx12_replay_consumer_base.cpp
  framework/decode/dx12_replay_consumer_base.h
  framework/encode/d3d12_capture_manager.cpp
  framework/encode/d3d12_capture_manager.h
  framework/encode/dx12_object_wrapper_info.h
  framework/encode/dx12_state_writer.cpp
  framework/generated/dx12_generators/dx12_replay_consumer_body_generator.py
  framework/generated/generated_dx12_replay_consumer.cpp
  framework/graphics/dx12_resource_data_util.cpp
  framework/graphics/dx12_resource_data_util.h
  framework/graphics/dx12_util.cpp
  framework/graphics/dx12_util.h
Labels: d3d12
