Repository LunarG/gfxreconstruct, pull requests merged in 2024-11, with the labels that each got.

#1745 Use libsigchain on Android
  framework/util/page_guard_manager.cpp
  framework/util/page_guard_manager.h
Labels: P1

#1870 tocpp: Support wayland
  framework/decode/vulkan_cpp_consumer_base.cpp
  framework/decode/vulkan_cpp_loader_generator.cpp
  framework/decode/vulkan_cpp_template_strings.h
  framework/decode/vulkan_cpp_utilities.h
  tools/tocpp/README.md
Labels: vulkan

#1873 openxr: Clean Vulkan virtual swapchain on destroy
  framework/decode/openxr_replay_consumer_base.cpp
  framework/decode/openxr_replay_consumer_base.h
  framework/decode/openxr_replay_session_state.cpp
  framework/decode/openxr_replay_session_state.h
  framework/decode/openxr_replay_swapchain_state.cpp
  framework/decode/openxr_replay_swapchain_state.h
Labels: openxr-experimental

#1739 Expose 2 symbols from android_main
  android/framework/decode/CMakeLists.txt
  framework/decode/CMakeLists.txt
  framework/decode/file_processor.cpp
  framework/decode/file_processor.h
  framework/decode/mark_injected_commands.cpp
  framework/decode/mark_injected_commands.h
  framework/decode/vulkan_replay_consumer_base.cpp
  framework/decode/vulkan_replay_consumer_base.h
  framework/decode/vulkan_virtual_swapchain.cpp
  framework/generated/generated_vulkan_replay_consumer.cpp
  framework/generated/vulkan_generators/vulkan_replay_consumer_body_generator.py
  tools/replay/CMakeLists.txt
  tools/replay/android_main.cpp
Labels: P1

#1887 trimming: Fix descriptor update template buffers
  framework/encode/vulkan_state_tracker.cpp
Labels: trimming, vulkan
