Repository LunarG/gfxreconstruct, pull requests merged in 2025-01, with the labels that each got.

#1632 Fix `vkSetDebugUtilsObjectNameEXT` and `vkSetDebugUtilsObjectTagEXT` for `VkDeviceMemory` objects when using rebind allocator.
  framework/decode/vulkan_default_allocator.cpp
  framework/decode/vulkan_default_allocator.h
  framework/decode/vulkan_rebind_allocator.cpp
  framework/decode/vulkan_rebind_allocator.h
  framework/decode/vulkan_replay_consumer_base.cpp
  framework/decode/vulkan_replay_consumer_base.h
  framework/decode/vulkan_resource_allocator.h
  framework/generated/generated_vulkan_replay_consumer.cpp
  framework/generated/khronos_generators/vulkan_generators/replay_overrides.json
  framework/generated/khronos_generators/vulkan_generators/vulkan_replay_consumer_body_generator.py
Labels: P1, replay, vulkan

#1305 Check whether ANDROID_SERIAL was set when working with multiple devices
  android/scripts/gfxrecon.py
Labels: P2

#1780 Add log message on app gain/loss of focus and when unpausing application
  framework/application/application.cpp
  tools/replay/android_main.cpp
Labels: P2, replay, android
